@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100vh;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  background: url(../../images/bg-intro-desktop.png) #ff7a7a center center/cover;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.container > * {
  min-width: 21.5625rem;
}
.container_info {
  width: 40%;
  color: #fff;
}
.container_info .title {
  margin-bottom: 1.25rem;
}
.container_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 4.6875rem;
}
.container_form .trial {
  background: #6055a5;
  width: 100%;
  padding: 0.9375rem 5.625rem;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.container_form .trial span {
  font-weight: 600;
}
.container_form form {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin-top: 1.5625rem;
  background: #fff;
  border-radius: 0.625rem;
}
.container_form form input {
  margin-bottom: 1rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  outline: none;
  font-size: 1rem;
}
.container_form form input::placeholder {
  font-weight: 600;
}
.container_form form input[type=submit] {
  background: #38cc8c;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: inset 0px -2px 5px rgba(0, 0, 0, 0.4);
}
.container_form form .cgu {
  color: #b9b6d3;
  font-size: 0.8125rem;
}
.container_form form .cgu a {
  color: #ff7a7a;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .container {
    height: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .container_info {
    text-align: center;
  }
  .container_info .explanation {
    width: 19.375rem;
    margin: 0 auto;
  }
  .container_form {
    margin: 0;
    margin-top: 4.375rem;
  }
}

/*# sourceMappingURL=style.css.map */
