@use './utils/index' as vars;

.container {
    width: 100%;
    height: 100%;
    background: url(../../images/bg-intro-desktop.png) vars.$red center center/cover;
    padding: 0 vars.rem(80);
    @include vars.flexer(center, center);
    flex-wrap: wrap;

    & > * {
        min-width: vars.rem(345);
    }

    &_info {
        width: 40%;
        // background: green;
        color: #fff;

        .title {
            margin-bottom: vars.rem(20);
        }
        // .explanation {
        //     width: vars.rem(500);
        // }
    }

    &_form {
        // background: yellow;
        @include vars.flexer(center, center, column);
        margin-left: vars.rem(75);

        .trial {
            background: vars.$blue;
            width: 100%;
            padding: vars.rem(15) vars.rem(90);
            color: #fff;
            border-radius: vars.rem(8);
            border: none;
            cursor: pointer;

            span {
                font-weight: 600;
            }
        }

        form {
            width: 100%;
            @include vars.flexer(stretch, center, column);
            padding: vars.rem(32);
            margin-top: vars.rem(25);

            background: #fff;
            border-radius: vars.rem(10);

            input {
                margin-bottom: vars.rem(16);
                padding: vars.rem(20);
                border-radius: vars.rem(8);
                border: 1px solid #000;
                outline: none;
                font-size: vars.rem(16);

                &::placeholder {
                    font-weight: 600;
                }
            }

            input[type='submit'] {
                background: vars.$green;
                text-transform: uppercase;
                color: #fff;
                font-weight: 600;
                border: none;
                cursor: pointer;
                box-shadow: inset 0px -2px 5px rgba(0, 0, 0, 0.4);
            }

            .cgu {
                color: vars.$grayish-blue;
                font-size: vars.rem(13);

                a {
                    color: vars.$red;
                    font-weight: 600;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .container {
        height: auto;
        padding-top: vars.rem(96);
        padding-bottom: vars.rem(96);
        &_info {
            text-align: center;

            .explanation {
                width: vars.rem(310);
                margin: 0 auto;
            }
        }
        &_form {
            margin: 0;
            margin-top: vars.rem(70);
        }
    }
}
